@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #023b67;
}

header {
    width: 100%;
    height: auto;
}

header nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

nav h5 span {
    color: orangered;
}
nav h5:hover{
    cursor: pointer;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    padding: 3px 0px 3px 30px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: yellow;
    transition: .3s linear;
}

header nav ul li a:hover {
    color: orangered;
}

header nav ul li a i {
    font-size: 13px;
    margin-right: 3px;
}

header .brand_nav {
    width: 100%;
    height: 50px;
    background: black;
    color: antiquewhite;
}

header .brand_nav ul {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    transition: .3s linear;
    padding: 0px 20px;
}

header .brand_nav ul li {
    position: relative;
    transition: .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .brand_nav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: yellow;
    transition: .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .brand_nav ul li a:hover {
    color: orangered;
}

header .brand_nav ul li i {
    margin-left: 6px;
    transition: .3s linear;
}

header .brand_nav ul li img {
    width: 60px;
}

header .brand_nav ul li:nth-child(2) {
    width: 150px;
}

header .brand_nav ul li:nth-child(4) {
    width: 150px;
}

header .brand_nav ul li:nth-child(4):hover {
    background: orangered;
}

header .brand_nav ul li:nth-child(2):hover{
    background: orangered;
}

header .brand_nav ul li:nth-child(1) .select_box{
    position: absolute;
    top: 100%;
    width: 90px;
    height: 0px;
    background: chartreuse;
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 999999999;
    overflow: hidden;
    transition: 1s linear;
    opacity: 0;
}

header .brand_nav ul li:nth-child(1) .select_box h5{
    padding: 5px 0px;
}

header .brand_nav ul li:nth-child(1) .select_box_active{
    height: 100px;
    opacity: 1;
}

.li_box{
    width: 100%;
    background: orangered;
    height: auto;
    padding: 8px 0px;
}
.li_box li{
    font-size: 15px;
    transition: .3s linear;
}
.li_box li:hover{
    color: black;
}

.home_page{
    background-image: url('image/bg_3.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 603.5px;
    top: 25px;
}
.home_page h1{
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: black;
}
.home_page span{
    color: orangered;
}
.home_page .left{
    width: 300px;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    padding-left: 50px;
    color: black;
}
.home_page .bottom{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    font-weight: 400;
    padding-left: 50px;
    color: black;
}


section{
    width: 75%;
    height: auto;
    display: flex;
    margin: 34px auto 0px auto;
    color: antiquewhite;
}
#content{
    display: none;
}
section aside , .shoes_box{
    width: 80%;
    height: auto;
}
section aside{
    width: 20%;
}
section .shoes_box{
    padding: 0px 0px;
}
section .shoes_box nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid black;
}

section .shoes_box section{
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: 15px;
}
section .shoes_box section .title_sortby{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .shoes_box section .title_sortby h4{
    font-weight: 600;
}
section .shoes_box section .title_sortby .select_sortby{
    position: relative;
}
section .shoes_box section .title_sortby .select_sortby button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 10px;
    font-size: 15px;
    width: 150px;
    border: 1px solid black;
    border-radius: 8px;
    background: none;
    outline: none;
    cursor: pointer;
    background: grey;
    color: yellow;
}
section .shoes_box section .title_sortby .select_sortby button i{
    font-size: 10px;
}
section .shoes_box section .title_sortby .select_sortby .sortby_opt{
    position: absolute;
    width: 150px;
    height: 0px;
    background-color: teal;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: .3s linear;
    opacity: 0;
}
section .shoes_box section .title_sortby .select_sortby .sortby_opt li{
    list-style: none;
    padding: 5px 0px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s linear;
}
section .shoes_box section .title_sortby .select_sortby .sortby_opt li:hover{
    background: orangered;
    color: black;
}
section .shoes_box section .title_sortby .select_sortby .sortby_opt_active{
    height: auto;
    opacity: 1;
    z-index: 9999999999999999999999999999;
}


section .shoes_box .main_shoes_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
section .shoes_box .main_shoes_box .card{
    position: relative;
    width: 200px;
    height: 280px;
    /* border: 1px solid black; */
    margin: 5px 5px 25px 0px;
    text-decoration: none;
    transition: .3s linear;
    color: black;
    background-color: aquamarine;
    padding: 10px;
}
section .shoes_box .main_shoes_box .card:hover{
     box-shadow: 0px 0px 20px black;
     border-radius: 5px;
}
section .shoes_box .main_shoes_box .card img{
    width: 100%;
    height:  170px;
}
section .shoes_box .main_shoes_box .card .card_title{
    font-size: 11px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}
section .shoes_box .main_shoes_box .card p{
    font-size: 11px;
    font-weight: 500;
    color: gray;
}
section .shoes_box .main_shoes_box .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
section .shoes_box .main_shoes_box .card .price h5{
    font-size: 11px;
    color: black;
}
section .shoes_box .main_shoes_box .card .price h5:nth-child(2){
    color: gray;
    font-size: 10px;
}
section .shoes_box .main_shoes_box .card .color_tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border-top: 0.5px solid black;
}
section .shoes_box .main_shoes_box .card .color_tag h6{
    font-size: 8.5px;
    margin-top: 3px;
    color: gray;
}
section .shoes_box .main_shoes_box .card .color_tag h6:nth-child(2){
    color: orangered;
}

section .shoes_box .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 30px 0px;
}
section .shoes_box .pagination a{
    width: 20%;
    padding: 8px 0px;
    text-decoration: none;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    color: white;
    transition: .3s linear;
    border-radius: 10px;
}
section .shoes_box .pagination a:hover{
    color: black;
    background: orangered;
}
section .shoes_box .pagination h6{
    width: 40%;
    text-align: center;
    padding: 8px 0px;
    color: orangered;
}

section aside .filter_box{
    width: 300px;
    height: auto;
    background: burlywood;
    padding: 10px;
    margin-right: 30px;
}
section aside{
    display: flex;
    justify-content: flex-end ;
    padding-top: 40px;
}
section aside .filter_box .filter{
    font-size: 18px;
}
section aside .filter_box .total_shoes{
    font-size: 15px;
    margin-top: 3px;
}
section aside .filter_box .shoes_check{
    width: 100%;
    height: auto;
    font-size: 20px;
    border-top: 1px solid black;
    margin-top: 10px;
}
section aside .filter_box .shoes_check .shoes_checked{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    margin: 10px 0px;
    background: black;
    color: aliceblue;
}
section aside .filter_box .shoes_check_off{
    background: none;
    color: black;
}
section aside .filter_box .shoes_check li{
    width: 90%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
}
section aside .filter_box .shoes_check li i{
    font-size: 14px;
    transition: .3s linear;
    cursor: pointer;
}
section aside .filter_box .shoes_check li i:hover{
    color: orangered;
}
section aside .filter_box .shoes_check li .i_active{
    color: orangered;
}
section aside .filter_box .shoes_check .input_p{
    position: relative;
    display: flex;
    align-items: center;
}
section aside .filter_box .shoes_check .input_p::before{
    content: "";
    position: absolute;
    width: 88%;
    height: 3px;
    background: black;
    top: 12px;
    left: 1px;
}
section aside .filter_box .shoes_check .input_p .input1{
    position: relative;
    width: 44%;
}
section aside .filter_box .shoes_check .input_p .input1 input{
    z-index: 99999999999999999999;
    opacity: 0;
    cursor: pointer;
    width: 100%;
}
section aside .filter_box .shoes_check .input_p .input1 i{
    position: absolute;
    color: black;
    left: 0%;
    top: 0px;
    transition: 1s linear;
}
section aside .filter_box .shoes_check .input_p .input1:nth-child(2) i{
    left: 100%;    
}
section aside .filter_box .shoes_check .input_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
section aside .filter_box .shoes_check .input_price h6{
    border: 1px solid black;
    padding: 3px 12px;
    color: black;
}
section aside .filter_box .shoes_check .color_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
section aside .filter_box .shoes_check .color_box h6{
    border: 4px solid white;
    padding: 7px;
    margin: 3px;
    cursor: pointer;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(2){
    border: 4px solid #bdbdbe;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(3){
    border: 4px solid #efc229;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(4){
    border: 4px solid #cab43a;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(5){
    border: 4px solid #ff854e;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(6){
    border: 4px solid #40854e;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(7){
    border: 4px solid #5686b6;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(8){
    border: 4px solid #d93782;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(9){
    border: 4px solid #c04442;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(10){
    border: 4px solid #544b7a;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(11){
    border: 4px solid #7a7b7f;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(12){
    border: 4px solid #523d2a;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(13){
    border: 4px solid black;
}
section aside .filter_box .shoes_check .color_box h6:nth-child(14){
    border-top: 3.3px solid yellow;
    border-left: 3.3px solid green;
    border-bottom: 3.3px solid brown;
    border-right: 3.3px solid pink;
}
section aside .filter_box .shoes_check .size_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
section aside .filter_box .shoes_check .size_box h6{
    border: 2px solid black;
    color: orangered;
    padding: 5px 7px;
    margin: 5px;
    cursor: pointer;
}
